@page
@model TomTomEcommerce.WebApp.Pages.CartModel
@{
}
@using TomTomEcommerce.BackOffice;

<div id="cartProductListArea">

    
</div>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>


<script>
    $(document).ready(function () {

        //GET - LIST CARTPRODUCT

        $.ajax({
            type: 'GET',
            url: '@Url.Page("Cart", "CartProductList")',
            success: function (data) {
                $("#cartProductListArea").html(data);
            }
        });



        //POST - CLEAR CART

        $(document).on("click", "#clearCart", function (e) {
            myFunction();
        });

            function myFunction() {
            var txt;
            if (confirm("Are you clear your cart?")) {
                txt = "You pressed OK!";
                                var token = '@HttpContext.GetAntiforgeryToken()';

                $.ajax({
                    type: 'POST',
                    url: '@Url.Page("Cart", "ClearCart")',
                    success: function (data) {
                        alert("success");
                        $("#cartProductListArea").html("");
                        $("#cartProductListArea").html(data);
                    },
                    headers:
                    {
                        "RequestVerificationToken": token
                    }


                });

            } else {
                txt = "You pressed Cancel!";
            }
        }






    });
</script>