@model IEnumerable<CategoryModelView>

<ul class="nested">
    @foreach (var item in Model)
    {
        <li><span class="caret">@item.Name</span></li>
        @if (item.Childs != null)
        {
            @Html.Partial("_CategoryTreeMenu", item.Childs)
        }

    }
</ul>


